/*
/* Created by Filipe Pina
 * Specific styles of signin, register, component
 */

#playground-container {
    height: 500px;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
}

body, html {
    height: 100%;
 	/* background image */
	background-repeat: no-repeat;
	/* background:url(https://i.ytimg.com/vi/4kfXjatgeEU/maxresdefault.jpg); */
 	font-family: 'Oxygen', sans-serif;
	background-size: cover;
}

.login-bg {
    background: url('../Images/intro-carousel/1.jpg') repeat;
    position: fixed;
    top: 0;
    background-size: cover;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.signup-bg {
    background: url('../Images/ELLE/ELLE_Login.jpg') repeat;
    position: fixed;
    top: 0;
    background-size: cover;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.main{
 	margin:50px 15px;
}

h1.title { 
	font-size: 50px;
	font-family: 'Passion One', cursive; 
	font-weight: 400;
	text-align: center;
}

hr{
	width: 10%;
	color: #fff;
}

.form-group{
	margin-bottom: 15px;
}

label{
	margin-bottom: 15px;
}

input, input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.form-control {
    height: auto;
	padding: 8px 12px;
}
.input-group {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21);
}

#button {
    border: 1px solid #ccc;
    margin-top: 28px;
    padding: 6px 12px;
    color: #666;
    text-shadow: 0 1px #fff;
    cursor: pointer;
    -moz-border-radius: 3px 3px;
    -webkit-border-radius: 3px 3px;
    border-radius: 3px 3px;
    -moz-box-shadow: 0 1px #fff inset, 0 1px #ddd;
    -webkit-box-shadow: 0 1px #fff inset, 0 1px #ddd;
    box-shadow: 0 1px #fff inset, 0 1px #ddd;
    background: #f5f5f5;
    background: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #eeeeee));
    background: -webkit-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -o-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -ms-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    /*background: linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#eeeeee', GradientType=0);
}

.login-form {
    margin: 30px auto;
    max-width: 400px;
    padding: 10px 40px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);   
    border-radius: 5px;
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
    backdrop-filter: blur(30px);
}

.signup-form-details label {
    color: white;
}

.signup-form-details .invalid-feedback {
    color: white;
}

.signup-form-details .valid-feedback {
    color: white;
}

span.input-group-addon i {
    color: #009edf;
    font-size: 17px;
	text-align: center;
}

.login-button{
	margin-top: 5px;
}

.login-register{
	font-size: 11px;
	text-align: center;
}

table, th, td {
  border: 1px solid black;
}